<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../assets/css/styles_login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marcellus&family=Playfair+Display:ital,wght@0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container_login">
        <div class="decoration">
            <img src="../assets/imgs/vector-login.svg" class="vector">
            <img src="../assets/imgs/Hotelia horizontal negro.svg" class="logo">
            <div class="container_icon">
                <img src="../assets/imgs/usuario.png" class="icon">
            </div>
        </div>
        <div class="formula_lo">
            <form action="">
                <div class="container_input">
                    <h1>Usuario</h1>
                    <input type="text" class="campo">
                </div>
                <div class="container_input2">
                    <h1>Contraseña</h1>
                    <input type="password" class="campo"><br>
                </div>
                <button type="submit" class="boton_en">Ingresar</button>
                <div class="olvido">
                    <br>
                    <h2>¿No tienes una cuenta?</h2>
                    <a href="">Registrate aqui</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>